<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hi Egg</title>
  </head>
  <body>
    <h1>Hi Copy Trade</h1>
    <a href="/api/info">查看信息</a>
  </body>
</html>
